        <div class="footer">
            <div class="inner-footer">
                <div class="footer-items">
                    <h1>SiteChain</h1>
                    <p>Le blog pour en apprendre sur la blockchain.</p>
                </div>
                <!--  MENU FOOTER -->
                <div class="footer-items">
                    <ul>
                        <a href="#"><li>Voir les articles</li></a>
                        <a href="#"><li>Qui sommes-nous ?</li></a>
                        <a href="#"><li>Contact</li></a>
                    </ul>
                    <ul>
                        <a href=""><li>Inscription</li></a>
                        <a href=""><li>Se connecter</li></a>
                    </ul>
                </div>
                <!--  CONTACTEZ NOUS -->
                <div class="footer-items">
                    <h3>Contactez nous !</h3>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>85000 La Roche-sur-Yon</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>06-13-36-08-06</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>emduthy@gmail.com</li>
                    </ul>
                    <!--   ICONES RESEAUX SOCIAUX -->
                    <div class="social-media">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                This footer was created by DuTeuh. 2021.
            </div>
        </div>
    </body>
</html>