<!doctype html>
<html>
    <head>
        <title>SiteChain - Blog FR Blockchain</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://kit.fontawesome.com/886f7975af.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" >
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
<body>